{% extends "index.html" %}
{% block main %}
<main>
  <h2>Credentials</h2>
  <article class="flex-row">
    <section class="content-container">
      <h3>Add new credentials</h3>
      <div class="content-card">
        <div class="clearfix">
          <label for="phone">Your phone number:</label>
          <input type="text" name="phone" id="new-cred-phone" class="float-right">
        </div>
        <div class="clearfix">
          <label for="phone">Your username:</label>
          <input type="text" name="username" id="new-cred-username" class="float-right">
        </div>
        <div class="clearfix">
          <label for="phone">Your Telegram API ID:</label>
          <input type="text" name="api_id" id="new-cred-api-id" class="float-right">
        </div>
        <div class="clearfix">
          <label for="phone">Your Telegram API hash:</label>
          <input type="text" name="api_hash" id="new-cred-api-hash" class="float-right">
        </div>
        <button id="add-credentials-btn">Add new credentials</button>
      </div>
    </section>
    <section class="content-container">
      <h3>Your saved credentials</h3>
      <ul id="saved-credentials"></ul>
    </section>
  </article>
</main>
<script type="module" src="{{ url_for('static', filename='credentials.js') }}"></script>{% endblock %}