{% extends "index.html" %}
{% block main %}
<main class="flex-column">
  <section class="content-container">
    <h2>Update your Telegram credentials</h2>
    <section class="content-card">
      <h3>Phone number: {{ credentials["phone"] }}</h3>
      <input type="text" id="update-phone" value='{{ credentials["phone"] }}' readonly class="hidden">
      <div class="clearfix">
        <label for="phone">Your username:</label>
        <input type="text" name="username" id="update-username" value='{{ credentials["username"] }}'
          class="float-right">
      </div>
      <div class="clearfix">
        <label for="phone">Your Telegram API ID:</label>
        <input type="text" name="api_id" id="update-api-id" value='{{ credentials["api_id"] }}' class="float-right">
      </div>
      <div class="clearfix">
        <label for="phone">Your Telegram API hash:</label>
        <input type="text" name="api_hash" id="update-api-hash" value='{{ credentials["api_hash"] }}'
          class="float-right">
      </div>
      <button id="update-credentials-btn">Update credentials</button>
    </section>
  </section>
</main>
<script type="module" src="{{ url_for('static', filename='edit-credentials.js') }}"></script>
{% endblock %}